.form-container .botton:hover, .open-button:hover {
    opacity: 1;
  }

  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  input[type=text],input[type=email]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(9, 226, 20);
  box-sizing: border-box;
}

.chat_container {
    position: fixed;
    
    top: 0;
    }

    .container {
        position: fixed;
        bottom: 0;
        }

        .chat_container
{

    position: center;
      
}

