body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] ,input[type=email]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(9, 226, 20);
  box-sizing: border-box;
}
label:nth-of-type(2) {
    margin-top: 12px;
  }
  
  input::placeholder {
    color: gray;
  }
  
  input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  
 .button {
    color: rgb(29, 28, 28);
    margin-top: 20px;
    background: #10f166;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }
  

  
  .inputs {
    text-align: left;
    margin-top: 30px;
  }

  label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  
  label {
    margin-bottom: 4px;
  }
  
button {
  background-color: #04AA6D;
  color: rgb(22, 122, 180);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


.container {
  padding: 50px;
  margin: auto;
  position: center;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    border-radius: 20px;
    border-color: black;

    
}

body {
  background-image: url("./texting-concept-illustration_114360-2744.jpg");
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 500px;
 
  
}


